h2{
    color:red;
}
h1{
    color: red;
    background-color: burlywood;
    width: 170px;
}
.orange-color{
    color: green;
}
.flexible
{
    display: flex;
    margin-bottom: 170px;
    image-orientation: from-image;
}

.half-width
{
    width: 50%;
    padding-left: 4%;

}
.half-width img
{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( orange,tomato);
    border-radius: 15px;
    background-color: orange;
    padding:5px 20px;
    font-weight: 700;
    border: 5px;
    

}
.bg
{
    background-image: url(images/7.png);
    display: flex;
    

}

.ok
{
display: flex;
margin-bottom: 100px;
width: fit-content;
}
.recipie-title
{
    border: 20px;
}
.kkr
{
    padding-right: 10 px;
box-shadow: 10px 10px 10px 10px gray;

}
footer h2
{
    text-align: center;
    background-color: gray;
}

.last-color-yellow
{
    color: yellow;
}
last-color-black
{
    color: black;
}